body {
    background: whitesmoke;
}


.board {
    width: 918px;
    height: 918px;
    background-color: lightgray;
    border: 5px solid black;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.spot {
    width: 300px;
    height: 300px;
    border: 3px solid black;
    cursor: pointer;
    font-size: 320px;
    font-family: sans-serif;
    text-align: center;
}